.topBar {
  background: #222831;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
}

.topBar button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.topBar img {
  cursor: pointer;
}

.topBar .icon {
  font-size: 24px;
  transition: color 0.2s;
}

.topBar .icon:hover {
  color: #ff3e9b;
}

.user-actions {
  display: flex;
  gap: 18px;
  align-items: center;
}

/** CSS FOR CARD ON FEED **/

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.post-name {
  cursor: pointer;
}

.post-card {
  display: flex;
  flex-direction: column;
  gap: 14px;
  background: #222831;
  border-radius: 12px 6px 6px 12px;
  border-left: 16px solid;
  border-right: 2px solid;
  border-top: 8px solid;
  border-bottom: 1px solid;
  padding: 24px;
  margin-bottom: 20px;
  overflow: hidden;
}

.post-card:nth-child(3n + 1) {
  border-color: #ff3e9b;
}

.post-card:nth-child(3n + 2) {
  border-color: #3a8b95;
}

.post-card:nth-child(3n + 3) {
  border-color: #f1ff5e;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.follow-btn {
  background-color: transparent;
  color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.follow-btn:hover {
  background-color: rgba(255, 51, 119, 0.1);
}

.follow-btn.following {
  border: 1.5px solid #ff3e9b;
}

.edit-actions {
  display: flex;
  gap: 12px;
}

.edit-actions button {
  font-size: 20px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.edit-actions button:hover {
  color: #ff3e9b;
}

.user-avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  object-fit: cover;
}

.post-img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 8px;
}

.post-actions {
  display: flex;
  gap: 14px;
}

.action-items {
  display: flex;
  align-items: center;
  gap: 6px;
  background: none;
  border: none;
  color: #fff;
}

.action-items i {
  font-size: 20px;
  cursor: pointer;
}

.action-items span {
  font-size: 16px;
  cursor: default;
}

@media (min-width: 768px) {
  .topBar {
    padding-left: 36px;
    padding-right: 24px;
  }
}
